
<div ng-app="ATS">
    <div ng-view></div>
</div>

@Scripts.Render("~/assets/app/controllers/controllers.js")
@Scripts.Render("~/assets/app/directives/directives.js")
@Scripts.Render("~/assets/app/shared/constants/constants.js")
@Scripts.Render("~/assets/app/shared/services/ajax/authAjax.js")
@Scripts.Render("~/assets/app/ATS.js")