<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATS</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")

    @RenderSection("scripts", required: false)
    @RenderBody()

</body>
</html>
